
#wrap{
    min-height: 100%;
}
#mains{
    overflow: auto;
    padding-bottom: 130px;
    background-color: orange;

}
.header{
    text-align: center;
    width:100%;
    height:110px;
    font-family: "Monotype Corsiva";
    font-size: 2.5em;

}
.header img{
    background-repeat: repeat-x;
}

.navigation {
    background-color: #efefef;
    padding: 0.5em 0.75em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    zoom: 1;

}

.navigation ul {
    overflow: hidden;
    padding-left: 0;
    zoom: 1;
}

.navigation li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    margin-left: 3em;
    padding: 0;
}

.navigation a {
    color: #666666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-weight: bold;
}

.navigation a:active, .navigation a:visited {
    color: #666666;
}

.navigation a:focus, .navigation a:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.navigation .current{
    background-color: #999999;
    color: white !important;
}
#heading{
    text-align: center;
    font-weight: bold;
    font-family: "Monotype Corsiva";
    font-size: 50px;

}
.imageContainer{
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}
.galleryItem{
    color: #797478;
    float: left;
    width: 29%;
    margin:  2% 2% 50px 2%;
}
.galleryItem img {
    /*max-width: 100%;*/
    height:250px;
    width:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.artist_item{
    text-align: center;
}
.artist_item p{
    text-align: center;
    color: black;

    font-size: 18px;
}
.artist_item img{
    height: 300px;
    width: 500px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: navajowhite;
}
.home_container{
    font-size: 18px !important;
    text-align: center !important;
}

.homeImage{
    padding-left: 12em;

}

.contact{
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.ancmnt{
    margin-left: 200px;
    list-style-type: disc;
}


form {

    margin:0 auto;
    width:650px;
}


#footer{
    position: relative;
    font-size: 1.2em;
    font-style: italic;
    clear: both;
}
#ft{
    float: right;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


.sponsor{
    text-align: center;
    font-size: 18px !important;
}
.container_form {
    padding-left: 7em;
    float: left;
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:#F9F9F9;
    padding:25px;
    margin:50px 0;

}

#contact h3 {
    color: black;
    display: block;
    font-size: 30px;
    font-weight: 600;
}

#contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 8px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:black;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
    border-radius: 8px;
    font-weight: bold;
}

#contact button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

#contactUs_header{
    background-color: #00CCFF;
    padding: 0.5em;
    width: auto;
    border-radius: 8px;
}

.contact_right{
    float: right;
    margin-right:  9em;
    padding: 3em 2em 0 0;
    /*font-weight: bold;*/
    font-size: 16px;
    color: black;
}
.abtUs{
    font-size: 20px;
}
.history{
    font-size: 20px;

}

.containerMember {
    text-align: center;
    font-size: 18px !important;
}
#paypal {
    text-align: center;
    display: inline-block;

}
#donate {
    text-align: center;
    display: inline-block;
   margin-left: 1.5em;
}

.event_container{
    text-align: center;
}

.event_container img{
    height: 400px;
    width: 400px;
}